*{
    margin: 0;
    padding: 0;
}
.main-div{
    height: 100vh;
    width: 100%;
    background-image: url(img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    height: 50px;
    width: 100%;
    background-color: rgb(61, 61, 56);
    display: flex;
    justify-content: end;
    color: white;
}
.navbar ul li{
    display: inline-block;
    margin: 20px;
    border-radius: 5px;

}
.navbar ul li:hover{
    background-color:rgb(236, 212, 182);
    color: black;
    cursor: pointer; 
    transform: rotate3d(1,0,0,360deg)scale(1);
    transition: 2s;
}
.logo{
    position: fixed;
    right: 85%;
    top: 2px;
    font-size: 45px;
    color: rgb(226, 210, 219);
}
.heading{
    text-align: center;
    color: rgb(226, 210, 219);
    font-size: 65px;
    margin-top: 10%;
}
.describe{
    text-align: center;
    color: rgb(231, 227, 227);
    font-size: 30px;
    margin-top: 2%;
}
.btn{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    background-color: rgb(61, 61, 56);
    color: white;
    width: 120px;
    height: 40px;
    margin: auto;
    margin-top: 2%;
    border-radius: 7px;
}
.btn:hover{
    background-color: aliceblue;
    color: black;
    cursor: pointer;
    transform: rotate3d(0,1,0,360deg)scale(2);
    transition: 2s;
}